body {
	font-family:Helvetica, Arial, sans-serif;
	padding:0px;
	margin:0px;
	font-size:13px;
}

a {
	text-decoration:none;
	color:#0000bb;
}

a:hover {
	text-decoration:underline;
}

table {
	font-size:13px;
}

.textbox {
	border:1px solid #d0d0d0;
	padding:2px;
}

.error {
	padding:8px;
	margin:8px;
	background-color:#ffeeee;
	border:1px solid #cc0000;
}

.success {
	padding:8px;
	margin:8px;
	background-color:#eeffee;
	border:1px solid #00cc00;
}

.thumbnail_container {
	display:inline-block;
	width:185px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:15px;
}

.thumbnail_container img {
	border:1px solid #cccccc;
	padding:1px;
}

#outer_container {
	width:100%;
}

#top_bar {
	border-bottom:1px solid #e0e3e3;
	clear:both;
	padding:15px;
}

#left_banner {
	font-size:18px;
	font-weight:bold;
}

#content_container {
	clear:both;
	padding-top:15px;
}

#right_banner {
	float:right;
}

#content {
	width:950px;
	margin:0px auto;
}

.section_container {
	padding-bottom:25px;
}

.section_container h2 {
	border-bottom:1px solid #cccccc;
}

.section_actions {
	float:right;
	padding-top:7px;
}
